{% extends 'base.html' %}
{% load i18n %}
{% block content %}

<div class="container">
    <dvi class="row">
        <div class="col-md-12">
            <table class="table">
                <thead>
                    <tr>
                        <th> Type </th>
                        <th> message </th>

                    </tr>
                </thead>
                <tbody>
                    {% for error in errors %}
                    <tr>
                        <td> {{  error.refrence }} </td>
                        <td> {{  error.message }} </td>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </dvi>
</div>


{% endblock %}