{% extends 'base.html' %}



{% block content %}
<style>
    #r{
        margin-top:2rem;
    }
</style>
<div class="container">
    <form class="form" method ='post'>
        {% csrf_token %}
        <div class="row" id='r'>
            <div class="col-md-6">
                <label > User name </label> 
                <input type='text' class="form-control" name ='username'  value="{{ user.username }}">

            </div>
           
        </div> 
        <div class="row" id="r">
            <div class="col-md-6">
                <label > New Password </label> 
                <input type='text' class="form-control" name ='password' >

            </div>
        </div>
            
            
            
        
        <br> <hr> <br>

        <div class="row">
            <div class="col-md-3">
                <button type='submit'class='btn btn-primary' > Update User </button>
            </div>
        </div>


    </form>
    

</div>
{% endblock %}