{% extends 'base.html' %}

{% block content %}

<div class="container" >

    <div class="row">
        
        <div class="col-md-6">
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModalLong">
                Create New
              </button>
              
              <!-- Modal -->
              <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLongTitle">Craete Tax </h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <form  method='post' action="{% url 'creat_tax' %}">
                          {% csrf_token %}
                          <label> Tax Name </label>
                          <input type = 'text' class="form-control" name = 'tax_name' required>
                          <label> Valid From </label>
                          <input type = 'Date' class="form-control" name = 'validfrom' required>
                          <label> Valid To </label>
                          <input type = 'Date' class="form-control" name = 'validto' required>
                     
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button type="submit" class="btn btn-primary">Create</button>
                    </div>
                </form>
                  </div>
                </div>
              </div>
        </div>
    </div>
    <br> <hr> 
    <dvi class="row">
        <div class="col-md-12">
            <table class="table">
                <thead>
                    <tr>
                        <th> Tax Name </th>
                        <th> Tax Details  </th>
                        <th> - </th>
                    </tr>
                </thead>
                <tbody>
                    {% for tax  in taxes %}
                    <tr> 
                        <td>  <a href ="{% url 'tax_details' tax.id%}" >{{tax.name }}  </a></td>
                        <td>  {{ tax }} </td>
                        <td> <a href='{% url "delete_tax" tax.id %}'> Delete </a> </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </dvi>
</div>

{% endblock %}